/*

		CSS for Crayslider	(Wubba lubba dub dub!!)
			by Herman Slyngstadli

*/
@charset "utf-8";

.craysliderWrapperWrapper {
	width:80%;
	height:300px;
	margin:auto;
}
.craysliderWrapperWrapperHolder {
	width:100%;
	height:100%;
	position: relative;
	overflow:hidden;
}
.craysliderWrapper {
	width:100%;
	height:100%;
	position:absolute;
}
.craysliderElement {
	list-style-type:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	word-wrap: break-word;
}
.craysliderElementHeader {
	font-size:2em;
}
.crayslider-previewElementWrapper {
	height:100%;
	width:100%;
}
.crayslider-previewContentText {
	height:100%;
	width:30%;
	float:left;
	background: #eee;
}
.crayslider-previewContentPicture {
	height:100%;
	width:70%;
	float:left;
	background:#ddd;
}
.crayslider-previewContentText-header {
	font-size:3em;
}
.crayslider-nav-button {
	display:block;
	width:10%;
	height:100%;
	background: #ddd;
	border:0;
	position: absolute;
}
.crayslider-nav-button:hover {
	background: #eee;
}
.crayslider-nav-button-right {
	right:0;
}
.crayslider-nav-button-left {
	left:0;
}
.crayslider-activeSlide {
	background:grey;
}