* { padding: 0; margin: 0; }
html, body {height:100%;width:100%;}
html {background-image: none;}

#gallery{
	width:100%;
	margin-top: 3%;
	position:relative;
}

.bildebolk:hover .proimg {
	opacity: 0.2;
}

.bildebolk:hover .tease {
	opacity: 1;
}

.bildebolk:hover{
	cursor: pointer;
}
.header li a{
	color:#0092b5;
}
.header li a::after, #header li a::before {
	background:#0092b5;
}
.header .burgerWrapper .burgerPart {
	background:#0092b5;
}
/*
.proimg:hover{
	opacity: 0.2;
}

.tease:hover{
	display: block;
	opacity: 1;
}
*/
/*img{
	width:100%;
	height:auto;
	opacity:1;
}*/

.proimg{
	/*width:100%;
	height: auto;
	margin-bottom: -4px;
	padding: 0 0;
	border: none;
	float: left;*/
	background-size: cover;
	background-position: 50% 50%;
}

#prosjhead{
	font-family: 'Open sans bold', sans-serif;
	font-weight: 800;
	color: black;
	opacity: 0.75;
	text-transform: uppercase;
	font-size: 500%;
	margin:0;
	width: 100%;
	/*height: 2%;*/
	z-index: 5;
	padding-left: 10%;
	margin-bottom: -3.5%;
	position: relative;
	display: block;
	
}

.tease{
	position: absolute; top: 40px; left: 30px;
	font-family: 'Open sans bold', sans-serif;
	font-weight: 800;
	color: black;
	opacity: 0;
	width: 80%;
	height: 80%;
}

.bildebolk{
	width:20%;
	height: 180px;
	position: relative;
	/*display: inline-block;*/
	float: left;
	

}

/*prosjektFOKUSstil*/

#profokus{
	width: 100%;
	height: auto;
	background-color: #414042;
	display: none;
	position: relative;
}

#rightview{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	background-color: #414042;
}

#leftview{
	width: 40%;
	height: 100%;
	float: left;
	margin: auto;
	padding: 5%;
	background-color: #414042;
	color: white;
	min-height: 100%;
	position:absolute;
	z-index: 5000;
}

#fokusimg{
	width: 90%;
	height: auto;
	margin: auto;
	padding-top: 5%;
	padding-left:40%;
	padding-bottom: 5%;
}

#krysser{
	width: 2%;
	height: auto;
	position: absolute; right: 5%;
	padding-top: 5%;
	z-index: 7000;
	min-width: 20px;
}
#krysser:hover {
	cursor: pointer;
}

br{
	line-height: 2em;
}

/*MEDIARESPONS*/

@media only screen and (max-width: 1200px) {
	.bildebolk{
		width: 25%;
	}
	/*#profokus{
		height: 26rem;
	}*/
	#prosjhead{
		font-size: 400%;
	}
	/*#gallery{
		margin-top: 100px;
	}*/
	/*#rightview{
		width: 50%;
	}*/
	#leftview{
		width: 55%;
	}
	#fokusimg{
		padding-left:55%;
	}
}

@media only screen and (max-width: 900px) {
	.bildebolk{
		width: 33.333333%;
	}
	/*#profokus{
		height: 20rem;
	}*/
	#prosjhead{
		font-size: 300%;
	}
	/*#rightview{
		width: 40%;
	}
	#leftview{
		width: 60%;
	}*/
	/*#leftview{
		width: 60%;
	}
	#fokusimg{
		padding-left:60%;
	}*/
	#rightview{
		width: 100%;
	}
	#leftview{
		width: 100%;
		position: relative;
	}
	#fokusimg{
		padding-left: 5%;
	}

}

@media only screen and (max-width: 600px) {
	.bildebolk{
		width: 50%;
	}
	#profokus{
		height: 0%;
	}
	#rightview{
		width: 100%;
	}
	#leftview{
		width: 100%;
		position: relative;
	}
	#fokusimg{
		padding-left: 5%;
	}
	#prosjhead{
		font-size: 200%;
	}
}

@media only screen and (max-width: 350px) {
	.bildebolk{
		width: 100%;
	}
	
	#prosjhead{
		font-size: 200%;
		margin-bottom: -10%;
	}
}