@charset="utf-8";

/*

	Funky style by the talented group:
		Ragnhild Bakli
		Simen Kjendseth
		Herman Slynstadli
		Tobias Wulvik

*/

/* --- Browser Reset --- */
* {
	margin:0;
	padding:0;
}

/* --- General styles / same for all pages --- */
/* -- Fonts, colors etc. -- */
body {
	font-family:'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
	font-family:'Raleway', sans-serif;
}

/* --- HEADER --- */


/* --- WRAPPER --- */


/* --- FOOTER --- */


/* --- Page specific styles, for each site if any --- */
/* --- Index --- */


/* --- Prosjketer DAWAI DAWAI--- */


/* --- Student --- */


/* --- Business --- */


/* --- About Leonardo --- */