@charset="utf-8";

/*

	Funky style by the talented group:
		Ragnhild Bakli
		Simen Kjendseth
		Herman Slynstadli
		Tobias Wulvik

*/

/* --- Browser Reset --- */
* {
	margin:0;
	padding:0;
}

/* --- General styles / same for all pages --- */
html, body {
	width:100%;
}
/* -- Fonts, colors etc. -- */
body {
	font-family:'Raleway', sans-serif;
}
h1, h2, h3, h4 {
	font-family:'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
a {
	color: #0092b5;
	text-decoration: none;
	border-bottom: dashed 1px #C5D9DE;
}
a:hover {
	border-bottom:solid 1px #0092b5;
}

::selection {
	background-color: rgb(233,79,148);
	color: #fff;
}

/* --- HEADER --- */
#header {
    position: fixed;
    top:0;
    width: 100%;
    height:60px;
    background:#eee;
    z-index: 1;
}
#header ul {
	float:right;
}
#header li {
	float:left;
	list-style-type:none;
}
#header a {
	display:block;
	padding:18px 20px; /*-------- width of header --------*/
	border:0;
}

/* --- LOGO --- */
#logoWrapper {
    height:60px;
    width:60px;
}
#logoBackground {
    height:100%;
    width:100%;
    background:#0092b5;
    position:relative;
}
#elVertical {
    width:20%;
    height:60%;
    background:#fff;
    position:absolute;
    left:20%;
    top:20%;
}
#elHorisontal {
    height:20%;
    width:60%;
    background:#fff;
    position:absolute;
    left:20%;
    top:60%;
}
#elDot {
    height:20%;
    width:20%;
    background:#fff;
    position:absolute;
    left:60%;
    top:20%;
}

/* Gjør teksten sentrert og 960px bred. Bruk på alle artikler */
.centerText, #komite article {
	width: 960px;
	margin: auto;
}

/*--- SECTION HEADER ---*/
.sectionHeader {
	width: 100%;
	height: 70vh;
	background: #eee;
	position: relative;
	margin-bottom: 100px;
}

.sectionHeader img {
	display: block;
    height: 100%;
    width: 100%;
	margin: auto;
    overflow: hidden;
}

.sectionTitle {
	font-size: 2em;
	background: #fff;
	padding: 5px 10px;
	position: absolute;
	bottom: -20px;
	left: 10%;
}
/* --- FOOTER --- */
#footer {   
    height: 200px;
    background-color: #2c2c2c;
    color: #fff;
    padding: 50px;
}

.footerLogo {
    width: 100%;
    height: 100px;
    margin: auto;
}

.footerLogo div {
    display: inline-block;
    width: 33.33%;
}

.footerLogo div svg {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
}

.footerLeft, .footerRight {
    position: relative;
    top: 60px;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}

#footer a {
    border-bottom: none;
}

/* Fargen på ikonene */
.socialLogo {
    fill: #fff;
    stroke-width: 5px;
    stroke: transparent;
}

/* Fargeendring under hovring */
.socialLogo:hover * {
    fill: #cbcbcb;
}


/* --- Page specific styles, for each site if any --- */
/* --- Index --- */


/* --- Prosjketer DAWAI DAWAI--- */


/* --- Student --- */
#eventSlider {
	height:300px;
	width:100%;
	overflow: hidden;
	position:relative;
}
#focusedEvent {
	height:400px;
	width: 100%;
}


.searchField {
	position: relative;
	width: 400px;
	margin: 200px auto;
	margin-bottom: 500px;
}

#wikiSok[type=text] {
	display: block;
	width: 80%;
	float: right;
	border: none;
	background-color: 0;
	font-size: 3em;
}

#wikiSok[type=text]:focus {
	outline: none;
}

/* Forstørrelsesglass runding */
.sokIkon::before {
	content: '';
    position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid #666;
	border-radius: 100%;
	margin-left: auto;
}

/* Forstørrelsesglass strek */
.sokIkon::after {
	content: '';
	position: absolute;
	top: 32px;
	left: 46px;
	height: 30px;
	width: 2px;
	transform: rotate(135deg);
	background-color: #666;
	
}

/* --- Wiki - trekkspillmeny --- */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
div.panel.show {
    display: block;
}

.verksted, .programmer, .laerere {
	width: 33%;
	display: inline-block;
	margin: auto;
	list-style-position: inside;
}



/* --- WikiArticle --- */
.wikiinfo{
	width: auto;
	margin: 100px 200px;
	position: center;
}

#noe {
	margin:80px 0;
	
}

/* --- Business --- */
.bedriftWrapper {
	overflow:auto;
}
.bedriftingress {
	margin: 0px 0px 100px 0px;

}
.bedriftartikkel{
	margin: 0px 0px 100px 0px;
	float:left;
	width:500px;
}
#bedtlf{
	font-size: 11px;
}
.rightFloat {
	float: right;
}
.rightFloat article{
	margin-bottom: 100px;
}
.rightFloat ul{
	list-style-type: none;
}
.bedkon{
	color: #0092b5;
}


/* --- About Leonardo --- */
.introduksjon {
    margin-bottom: 200px;
	width: 80%;
}
.styrePost {
	width: 960px;
	margin: 200px auto;
	margin-bottom: 0;
}

.styrePost > p {
    padding: 10px 0px 20px 300px;
}

.styreTittel {
    padding-left: 40px;
    font-size: 3em;
    font-weight: 400;
    text-transform: none;
    
}
.styreBilde {
    position: relative;
    top: 0px;
    float: left;
    height: 300px;
    width: auto;
    margin-right: 20px;
	z-index: -1;
}
.styreNavn {
    font-weight: 400;
    text-transform: none;
}

.sitatBoks {
	box-sizing: border-box;
    background-color: #0092b5;
    height: 200px;
    width: 100%;
	margin: 0;
    padding: 40px 80px 20px 100px;
    text-align: right;
    color: white;
    font-size: 1.2em;
	text-align: center;
	z-index: 3;
}

/*
.styrePost:nth-child(odd) {
    text-align: right;
}

.styrePost:nth-child(odd)  p {
    padding-right: 300px;
    padding-left: 20px;
}

.sitatBoks:nth-child(odd){
    text-align: left;
    padding-left: 80px;
    padding-right: 100px;
}

.styrePost:nth-child(odd) > .styreBilde {
    float: right;
}
*/

@media screen and (max-width: 960px) {
	
	.styrePost {
		width: 100%;
	}
	
	.styrePost p {
		width: 50%;	
	}
	
	.introduksjon {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	
	.styrePost {
		width: 100%;
	}
	
	.styreBilde {
		display: none;
		float: none;
	}
	
	.styreNavn {
		margin-left: 5%;
	}
	.styrePost p {
		padding: 0;
		padding-bottom: 2%;
		margin-left: 5%;
		width: 80%;
	}
}

/* --- Komiteene --- */
#komite article {
    margin-bottom: 300px;
}

.komiteTittel {
    font-weight: 400;
    font-size: 5em;
    
}

.komiteFoto {
    position: relative;
    top: 50px;
    left: -40px;
    float: left;
    width: 300px;
    height: 300px;
}

.komiteLogo {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#komite article:nth-child(odd) > .komiteFoto {
    float: right;
}

#komite article:nth-child(odd) > p {
    padding-left: 120px;
}

@media screen and (max-width:768px) {
	#komite article {
		float: none;
	}
	
	#komite article {
		padding-left: 20px;
		width: 80%;
	}
	
	.komiteFoto {
		display: none;
	}
}

/* --- Tidslinje --- */
.timeline {
    position: relative;
    margin: 200px auto;
    width: 6px;
    background-color: #0092b5;
    border-radius: 10px;
}

.timelineBlock {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
}

/* Linjen ut fra blokken */
.timelineBlock::before {
    content: '';
    position: absolute;
    top: 28px;
    height: 0;
    border-style: solid;
    border-color: #0092b5;
    left: -100px;
    width: 100px;
}

/* Rundingen på slutten av linjen */
.timelineBlock::after {
    content:'';
    position: absolute;
    top: 24px;
    left: 0;
    height: 5px;
    width: 5px;
    border: solid 3px #0092b5;
    border-radius: 10px;
    background-color: #fff;
}

.timeline h1 {
    position: relative;
    left: -53px;
    width: 100px;
    font-size: 3em;
    color: #0092b5;
    text-align: center;
    background-color: #fff;
    margin: 100px 0;
}

@media screen and (min-width:1240px) {

	.timelineBlock:nth-child(even)::before {
		width: 150px;
		left: 450px;
	}

	.timelineBlock:nth-child(even)::after {
		left: 440px;
	}

	.timelineBlock:nth-child(even) {
		text-align: right;
		position: relative;
		left: -600px;
	}

	.timelineBlock:nth-child(odd) {
		position: relative;
		left: 100px;
	}
	
}

@media screen and (max-width: 1240px) {
	.timelineBlock::before {
		width: 50px;
		left: 450px;
	}

	.timelineBlock::after {
		left: 440px;
	}

	.timelineBlock {
		text-align: right;
		position: relative;
		left: -500px;
	}
	
	.timeline {
		margin-right: 20%;
	}
}

@media screen and (max-width: 640px) {
	.timelineBlock {
		width: 100px;
		left: 200px;
	}
	
	.timeline {
		margin-right: 12%;
	}
}

