@charset="utf-8";

/*

	Funky style by the talented group:
		Ragnhild Bakli
		Simen Kjendseth
		Herman Slynstadli
		Tobias Wulvik

*/

/* --- Browser Reset --- */
* {
	margin:0;
	padding:0;
}

/* --- General styles / same for all pages --- */
html, body {
	width:100%;
	height:100%;
}
/* -- Fonts, colors etc. -- */
body {
    font-family:'Raleway', sans-serif;
}
h1, h2, h3, h4 {
	font-family:'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

/* --- HEADER --- */
#header {
	height:60px;
	background:#eee;
}
#header ul {
	float:right;
}
#header li {
	float:left;
	list-style-type:none;
}
#header a {
	display:block;
	color:#0092b5;
	text-decoration:none;
	padding:18px 20px;
}
#header a:hover {
	text-decoration:underline;
}

/* --- WRAPPER --- */
.mainOuterWrapper {
	width:100%;
}
.mainInnerWrapper {
	width:960px;
	min-height:100%;
	margin:0 auto;
}
/* --- FOOTER --- */


/* --- Page specific styles, for each site if any --- */
/* --- Index --- */


/* --- Prosjketer DAWAI DAWAI--- */


/* --- Student --- */


/* --- Business --- */


/* --- About Leonardo --- */

